@media (max-width: 700px) {
  .post-type-archive-equipes #container {
    width: 100%;
  }
  .post-type-archive-equipes #container .equipe {
    margin-bottom: 25px;
  }
  .post-type-archive-equipes #container .equipe:first-of-type {
    padding-top: 80px;
  }
  .post-type-archive-equipes #container .equipe img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .post-type-archive-equipes #container .equipe .description {
    background-color: #d21b1b;
    color: white;
    padding: 10px 20px;
  }
  .post-type-archive-equipes #container .equipe .description h4 {
    margin: 0;
    font-size: 2.0rem;
  }
  .post-type-archive-equipes #container .equipe .description p {
    font-size: 1.2rem;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .post-type-archive-equipes #container {
    width: 100%;
  }
  .post-type-archive-equipes #container .equipe {
    margin-bottom: 50px;
  }
  .post-type-archive-equipes #container .equipe:first-of-type {
    padding-top: 80px;
  }
  .post-type-archive-equipes #container .equipe img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .post-type-archive-equipes #container .equipe .description {
    background-color: #d21b1b;
    color: white;
    padding: 10px 20px;
  }
  .post-type-archive-equipes #container .equipe .description h4 {
    margin: 0;
    font-size: 3.0rem;
  }
  .post-type-archive-equipes #container .equipe .description p {
    font-size: 1.7rem;
  }
}
@media (min-width: 900px) {
  .post-type-archive-equipes #container {
    width: calc(100% - 100px);
    padding: 0 50px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .post-type-archive-equipes #container .equipe {
    width: 48%;
    margin: 25px 0;
  }
  .post-type-archive-equipes #container .equipe img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .post-type-archive-equipes #container .equipe .description {
    background-color: #d21b1b;
    color: white;
    padding: 10px 20px;
  }
  .post-type-archive-equipes #container .equipe .description h4 {
    margin: 0;
    font-size: 3.0rem;
    font-weight: normal;
  }
  .post-type-archive-equipes #container .equipe .description p {
    font-size: 1.7rem;
  }
}
