@media (max-width: 700px) {
  .page #container {
    width: 100%;
  }
  .page #container h2 {
    font-size: 2.0rem;
    margin-left: 20px;
    margin-top: 0;
    font-weight: normal;
  }
  .page #container h2:first-of-type {
    padding-top: 80px;
  }
  .page #container .formation {
    margin-bottom: 25px;
  }
  .page #container iframe {
    width: 100%;
  }
  .page #container img {
    width: 100%;
  }
  .page #container h3 {
    font-size: 2.0rem;
    background-color: #d21b1b;
    margin: 0;
    padding: 10px 10px 10px 20px;
    color: white;
    font-weight: normal;
  }
  .page #container .container-text {
    border-left: solid 1px #d21b1b;
    margin: 0 0 0 25px;
    padding: 0 15px;
  }
  .page #container .container-text .categorie {
    margin-bottom: 0;
  }
  .page #container .container-text .documents {
    font-size: 1.2rem;
    margin-left: 15px;
    display: block;
    color: #d21b1b;
  }
  .page #container .container-text .p {
    font-size: 1.2rem;
    margin-left: 15px;
    display: block;
  }
  .page #container .container-text .p:first-of-type {
    margin-top: 0;
    padding-top: 1em;
  }
  .page #container .container-text .p a {
    color: #d21b1b;
  }
  .page #container .container-text .indenté {
    margin: 0 0 0 30px;
  }
  .page #container .container-text .indenté:last-of-type {
    margin-bottom: 25px;
  }
  .page #container .container-text h5 {
    margin-left: 15px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .page #container {
    width: 100%;
  }
  .page #container h2 {
    font-size: 3.0rem;
    margin-left: 50px;
    font-weight: normal;
    margin-top: 0;
  }
  .page #container h2:first-of-type {
    padding-top: 80px;
  }
  .page #container h3 {
    font-size: 2.2rem;
    background-color: #d21b1b;
    margin: 0;
    padding: 10px 10px 10px 20px;
    color: white;
    font-weight: normal;
  }
  .page #container iframe {
    width: 100%;
  }
  .page #container img {
    width: 100%;
  }
  .page #container .formation {
    padding: 0 50px;
    margin-bottom: 25px;
  }
  .page #container .container-text {
    border-left: solid 1px #d21b1b;
    margin: 0 0 0 25px;
    padding: 0 25px 0 0;
  }
  .page #container .container-text p {
    font-size: 1.7rem;
    margin-left: 15px;
    display: block;
  }
  .page #container .container-text p:first-of-type {
    margin-top: 0;
    padding-top: 1em;
  }
  .page #container .container-text a {
    color: #d21b1b;
  }
  .page #container .container-text .documents {
    font-size: 1.7rem;
    margin-left: 15px;
    display: block;
    color: #d21b1b;
  }
  .page #container .container-text .categorie {
    margin-bottom: 0;
  }
  .page #container .container-text .indenté {
    margin: 0 0 0 30px;
  }
  .page #container .container-text .indenté:last-of-type {
    margin-bottom: 25px;
  }
  .page #container .container-text h5 {
    margin-left: 15px;
  }
}
@media (min-width: 900px) {
  .page #container {
    width: calc(100% - 100px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .page #container h2 {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 25px 0;
  }
  .page #container .formation {
    margin-bottom: 25px;
  }
  .page #container iframe {
    width: 100%;
  }
  .page #container img {
    width: 100%;
  }
  .page #container h3 {
    font-size: 2.2rem;
    background-color: #d21b1b;
    margin: 0;
    padding: 10px 10px 10px 20px;
    color: white;
    font-weight: normal;
  }
  .page #container .container-text {
    border-left: solid 1px #d21b1b;
    margin: 0 0 0 25px;
    padding: 0 25px 0 0;
  }
  .page #container .container-text p {
    font-size: 1.7rem;
    margin-left: 15px;
    display: block;
  }
  .page #container .container-text p:first-of-type {
    margin-top: 0;
    padding-top: 1em;
  }
  .page #container .container-text p a {
    color: #d21b1b;
  }
  .page #container .container-text .documents {
    font-size: 1.7rem;
    margin-left: 15px;
    display: block;
    color: #d21b1b;
  }
  .page #container .container-text .categorie {
    margin-bottom: 0;
  }
  .page #container .container-text .indenté {
    margin: 0 0 0 30px;
  }
  .page #container .container-text .indenté:last-of-type {
    margin-bottom: 25px;
  }
  .page #container .container-text h5 {
    margin-left: 15px;
    font-size: 1.7rem;
  }
}
