@media (max-width: 900px) {
  .logo {
    display: none;
  }
  header {
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: white;
    z-index: 999;
  }
  header h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }
  #container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
    padding: 20px 0;
    position: relative;
    width: calc(100% - 100px);
    max-width: 1400px;
    height: 40px;
  }
  #menu-btn {
    width: 33px;
    height: 25px;
    position: fixed;
    right: 25px;
    z-index: 3;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #menu-btn span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #menu-btn span:nth-child(1) {
    top: 0;
  }
  #menu-btn span:nth-child(2) {
    top: 10px;
  }
  #menu-btn span:nth-child(3) {
    top: 10px;
  }
  #menu-btn span:nth-child(4) {
    top: 20px;
  }
  #menu-btn.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  #menu-btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu-btn.open span:nth-child(4) {
    top: 10px;
    width: 0;
    left: 50%;
  }
  #menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 85vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100vw);
    transition: 0.2s ease;
    background: white;
    z-index: 1;
  }
  #menu ul {
    background-color: white;
    margin: 0;
    text-align: right;
    border-right: 1px solid #d21b1b;
    padding-right: 15px;
  }
  #menu ul li {
    list-style: none;
    margin-bottom: 5vh;
  }
  #menu a {
    color: #222729;
    font-size: 2.0rem;
  }
  #menu.menu-visible {
    width: 85vw;
    transform: translateX(0vw);
    transition: 0.2s ease;
    box-shadow: 0 0 10rem black;
  }
}
@media (min-width: 900px) {
  header {
    width: 100%;
    box-shadow: 0 5px 5px #f2f2f2;
  }
  header h1 {
    display: none;
  }
  #container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    height: 80px;
    width: calc(100% - 100px);
    max-width: 1400px;
  }
  #logo {
    width: 190px;
  }
  .logo {
    height: 100px;
    width: auto;
  }
  #menu-btn {
    display: none;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 80px;
    margin-left: 50px;
  }
  #menu ul {
    padding: 0;
    background-color: white;
    margin: 0;
  }
  #menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 20px;
  }
  #menu ul li:first-of-type {
    display: none;
  }
  #menu a {
    color: #222729;
    font-size: 1.4rem;
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
  }
  #menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #222729;
    transform: scaleY(0);
    transition: all 0.2s ease 0s;
  }
  #menu a:hover:before {
    transform: scaleY(1);
  }
  #menu.menu-visible {
    width: 85vw;
    transform: translateX(0vw);
    transition: 0.2s ease;
    box-shadow: 0 0 10rem black;
  }
}
.post-type-archive-equipes #menu .lien-menu-equipes:before {
  transform: scaleY(1);
}
.post-type-archive-actualites #menu .lien-menu-actualites:before {
  transform: scaleY(1);
}
.post-type-archive-matchs #menu .lien-menu-calendrier:before {
  transform: scaleY(1);
}
.page-id-98 #menu .lien-menu-infos:before {
  transform: scaleY(1);
}
.page-id-95 #menu .lien-menu-formations:before {
  transform: scaleY(1);
}
.post-type-archive-galerie #menu .lien-menu-galerie:before {
  transform: scaleY(1);
}
.post-type-archive-boutique #menu .lien-menu-boutique:before {
  transform: scaleY(1);
}
