html {
  font-size: 62.5%;
}
body {
  font-family: Montserrat;
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  color: black;
}
article.actu.main {
  color: white;
}
@media (max-width: 700px) {
  .home #actu-match {
    padding-top: 80px;
  }
  .home figure {
    margin: 0;
    width: 100%;
  }
  .home article.actu.main img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .home article.actu.main .description {
    background-color: #d21b1b;
  }
  .home article.actu.main .description h5 {
    padding: 25px 0 0 20px;
    margin: 0;
    font-size: 1.8rem;
    font-weight: normal;
  }
  .home article.actu.main .description h3 {
    margin: 25px 0 0 0;
    padding: 0 50px;
    font-size: 2.2rem;
    font-weight: normal;
  }
  .home article.actu.main .description p {
    padding: 0 50px 25px 50px;
    margin: 10px 0 0 0;
    font-size: 1.2rem;
    line-height: 1.5em;
  }
  .home .calendrier-matchs h2 {
    font-size: 2.0rem;
    font-weight: normal;
    padding: 25px 0 0 20px;
    margin: 0;
  }
  .home .date-match {
    font-size: 1.8rem;
    padding: 0 0 0 50px;
    font-weight: normal;
    margin: 25px 0 10px 0;
  }
  .home .date-match::first-letter {
    text-transform: uppercase;
  }
  .home .match {
    margin: 0 50px 20px 50px;
    border: solid 1px #f2f2f2;
    border-radius: 4px;
    display: flex;
    padding: 10px;
  }
  .home .match .equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }
  .home .match .equipe svg {
    width: 25px;
  }
  .home .match .equipe .nom-equipe {
    font-size: 1.8rem;
  }
  .home .match .horaire {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
  }
  .home .match .horaire time {
    font-size: 2.4rem;
  }
  .home .match .horaire .categorie {
    font-size: 1.4rem;
  }
  .home .more-match {
    width: 100%;
    height: 80px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home #dernieres-actus h2 {
    margin: 25px 0 20px 20px;
    font-size: 2.0rem;
    font-weight: normal;
  }
  .home #dernieres-actus .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
  .home #dernieres-actus .actu {
    margin-bottom: 20px;
    width: calc(100vw - 40px);
  }
  .home #dernieres-actus .actu img {
    width: 100%;
    height: 100%;
  }
  .home #dernieres-actus .actu .col-1 {
    width: 75%;
  }
  .home #dernieres-actus .actu h3 {
    margin: 0 0;
    width: 100%;
  }
  .home #dernieres-actus .actu .description {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
  }
  .home #dernieres-actus .actu .description .lire-article {
    position: absolute;
    color: #d21b1b;
    right: 0;
    bottom: 0;
  }
  .home .home #more-actu {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .home h2 {
    margin: 25px 0 20px 20px;
    font-weight: normal;
    font-size: 3.0rem;
  }
  .home figure {
    margin: 0;
  }
  .home #actu-match {
    padding-top: 80px;
  }
  .home article.actu.main img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .home article.actu.main .description {
    background-color: #d21b1b;
  }
  .home article.actu.main .description h5 {
    font-size: 2rem;
    padding: 25px 0 0 20px;
    margin: 0;
    font-weight: normal;
  }
  .home article.actu.main .description h3 {
    margin: 25px 0 0 0;
    padding: 0 50px;
    font-size: 4rem;
    font-weight: normal;
  }
  .home article.actu.main .description p {
    font-size: 1.7rem;
    padding: 0 50px 25px 50px;
    margin: 10px 0 0 0;
    line-height: 1.5em;
  }
  .home .calendrier-matchs h2 {
    padding: 25px 0 0 20px;
    margin: 0;
  }
  .home .date-match {
    font-size: 1.8rem;
    padding: 0 0 0 50px;
    font-weight: normal;
    margin: 25px 0 10px 0;
  }
  .home .date-match::first-letter {
    text-transform: uppercase;
  }
  .home .match {
    margin: 0 50px 20px 50px;
    border: solid 1px #f2f2f2;
    border-radius: 4px;
    display: flex;
    padding: 10px;
  }
  .home .match .equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }
  .home .match .equipe svg {
    width: 25px;
  }
  .home .match .equipe .nom-equipe {
    font-size: 2rem;
  }
  .home .match .horaire {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
  }
  .home .match .horaire time {
    font-size: 3rem;
  }
  .home .match .horaire .categorie {
    font-size: 1.7rem;
  }
  .home .more-match {
    width: 100%;
    height: 80px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
  }
  .home #dernieres-actus .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
  .home #dernieres-actus .container .actu {
    width: calc(50vw - 50px);
    margin: 0 10px 20px 10px;
  }
  .home #dernieres-actus .container .actu img {
    width: 100%;
    height: 100%;
  }
  .home #dernieres-actus .container .actu h3 {
    margin: 0 0;
  }
  .home #dernieres-actus .container .actu .description {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
  }
  .home #dernieres-actus .container .actu .description .lire-article {
    position: absolute;
    color: #d21b1b;
    right: 0;
    bottom: 0;
  }
  .home #more-actu {
    display: none;
  }
}
@media (min-width: 900px) {
  .home #container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .home h2 {
    margin: 25px 0;
    font-weight: normal;
    font-size: 2.4rem;
  }
  .home #actu-match {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
  }
  .home article.actu.main {
    margin-top: 25px;
  }
  .home article.actu.main img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .home article.actu.main .description {
    width: 100%;
    background-color: #d21b1b;
  }
  .home article.actu.main .description h5 {
    font-size: 2rem;
    padding: 25px 0 0 20px;
    margin: 0;
    font-weight: normal;
  }
  .home article.actu.main .description h3 {
    margin: 25px 0 0 0;
    padding: 0 50px;
    font-size: 3rem;
    font-weight: normal;
  }
  .home article.actu.main .description p {
    font-size: 1.7rem;
    padding: 0 50px 25px 50px;
    margin: 10px 0 0 0;
    line-height: 1.5em;
  }
  .home article.actu.main figure {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  .home .actu {
    overflow: hidden;
  }
  .home .actu figure img {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
  }
  .home .actu:hover img {
    transform: scale(1);
  }
  .home .lien-main {
    width: 65%;
  }
  .home .calendrier-matchs {
    width: 35%;
  }
  .home .calendrier-matchs h2 {
    padding: 0;
  }
  .home .calendrier-matchs .date-match {
    font-size: 2rem;
    padding: 0;
    font-weight: normal;
    margin: 0 0 10px 0;
  }
  .home .calendrier-matchs .date-match::first-letter {
    text-transform: uppercase;
  }
  .home .calendrier-matchs .match {
    margin: 0 50px 20px 0;
    border: solid 1px #f2f2f2;
    border-radius: 4px;
    display: flex;
    padding: 10px;
  }
  .home .calendrier-matchs .match .equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }
  .home .calendrier-matchs .match .equipe svg {
    width: 25px;
  }
  .home .calendrier-matchs .match .equipe .nom-equipe {
    font-size: 1.7rem;
  }
  .home .calendrier-matchs .match .horaire {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
  }
  .home .calendrier-matchs .match .horaire time {
    font-size: 2rem;
  }
  .home .calendrier-matchs .match .horaire .categorie {
    font-size: 1.7rem;
  }
  .home .calendrier-matchs .more-match {
    width: calc(100% - 50px);
    height: 80px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    transition: ease 0.2s;
  }
  .home .calendrier-matchs .more-match:hover {
    background-color: #D1D1D1;
  }
  .home #dernieres-actus {
    margin: 50px auto 0 auto;
  }
  .home #dernieres-actus .container {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
  .home #dernieres-actus .actu {
    width: 28.4%;
  }
  .home #dernieres-actus .actu:first-of-type {
    margin-left: 0;
  }
  .home #dernieres-actus .actu img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .home #dernieres-actus .actu figure {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  .home #dernieres-actus .actu .col-1 {
    width: 75%;
  }
  .home #dernieres-actus .actu h3 {
    margin: 0 0;
    width: 100%;
  }
  .home #dernieres-actus .actu .description {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
  }
  .home #dernieres-actus .actu .description .lire-article {
    position: absolute;
    color: #d21b1b;
    right: 0;
    bottom: 0;
  }
  .home #more-actu {
    height: 240px;
    width: 100px;
    background-color: #f2f2f2;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    transition: ease 0.2s;
  }
  .home #more-actu:hover {
    background-color: #D1D1D1;
  }
}
